a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: #19ba9b;
}

a:hover {
  color: #24e2bd;
}

.column-2 {
  display: flex;
  margin: 30px 70px;
}

.column-left {
  flex-basis: 250px;
  border-right: 1px solid #eee;
}

.column-right {
  flex-grow: 1;
}

.create {
  position: fixed;
  right: 30px;
  bottom: 40px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 0.4);
  transition: .3s ease-out;
  z-index: 11;
  background-color: #19ba9b;
  color: #fff;
  cursor: pointer;
  ;
}

.create:hover {
  background-color: #24e2bd;
}

header {
  padding: 3.5rem 0;
  background-color: #f7f7f7;
}

header h1 {
  text-align: center;
  margin: 0;
}

footer {
  text-align: center;
  padding: 1rem;
}

.categories {
  padding: 30px;
}

.categories-list {
  list-style: none;
  /*font-size: 16px;*/
  padding-left: 1rem;
}

.categories-item {
  margin: 10px 0;
}

.categories-item a {
  display: block;
  color: #555;
}

.categories-item a:hover {
  color: #24e2bd;
}

.categories-item.active a {
  color: #19ba9b;
}

.article-list {
  list-style: none;
  /*max-width: 900px;*/
}

.article-item {
  margin-bottom: 5rem;
}

.article-time {
  color: #777;
  font-weight: 700;
  font-size: 0.85714rem;
  margin-bottom: .5rem;
}

.article-title {
  font-weight: 600;
  color: #000;
  line-height: 1.4;
  margin-bottom: 1rem;
  font-size: 1.5rem
}

.article-title a {
  color: #000;
}

.article-title a:hover {
  color: #19ba9b;
}

.article-info {
  font-size: 0.92857rem;
  padding-top: 0.92857rem;
  padding-bottom: 0.92857rem;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  color: #777;
}

.article-info>div {
  display: inline-block;
  margin-right: .5rem;
  padding-top: 0.35714rem;
  padding-bottom: 0.35714rem;
  padding-left: 1.07143rem;
  padding-right: 1.07143rem;
}


.btn-group {
  float: right;
  margin-top: 30px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  /*border: 1px solid transparent;*/
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding: .375rem 1rem;
  font-size: .9rem;
  line-height: 1.5;
  color: #19ba9b;
  border-color: #19ba9b;
  background-color: transparent;
  cursor: pointer;
}

.btn:first-child {
  border-bottom-left-radius: .25rem;
  border-top-left-radius: .25rem;
}

.btn:last-child {
  border-bottom-right-radius: .25rem;
  border-top-right-radius: .25rem;
  border-right: 1px solid #19ba9b;
}

.btn.active {
  color: #fff;
  background-color: #19ba9b;
}

.breadcrumbs {
  margin: 30px 0;
}

.breadcrumbs-list {
  /*padding-left: 0;*/
  margin-bottom: 0;
  list-style: none;
}

.breadcrumbs-item {
  display: inline-block;
  margin-right: 0.5rem
}

.breadcrumbs-item.active {
  color: #19ba9b;
}





/********* detail ************/

.detail {
  margin: 30px auto;
  max-width: 1000px;
}





/**************/

.public-DraftEditor-content {
  min-height: 250px;
  max-height: 250px;
}

.input-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin: 20px 0;
  width: 100%;
}

.input-text-icon {
  min-width: 38px;
  background-color: transparent;
  margin-right: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #ced4da;
}

.input-text-input {
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  padding: .8rem 1rem .6rem;
  border-radius: 0;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

select {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0;
  -webkit-appearance: none;
  height: calc(2.25rem + 2px);
  margin: 20px 0;
}




/***************/

.like-btn {
  position: fixed;
  z-index: 10;
  right: 0;
  bottom: 100px;
  height: 60px;
  font-size: 17px;
  line-height: 30px;
  padding: 15px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  color: #19ba9b;
  width: 150px;
  white-space: nowrap;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .3);
  cursor: pointer;
  transition: all .2s;
}

.like-btn:hover,
.like-btn.active {
  color: #fff;
  background-color: #19ba9b;
}


.post-operate {
  color: #19ba9b;
  cursor: pointer;
  transition: all .2s;
}

.post-operate:hover {
  color: #fff;
  background-color: #19ba9b;
}

.back {
  float: right;
  color: #19ba9b;
  cursor: pointer;
  transition: all .2s;
  padding: 5px 9px;
  font-size: 1rem;
}

.back:hover {
  color: #fff;
  background-color: #19ba9b;
}

.input-textarea {
  padding: .8rem 1rem .6rem;
  border-radius: 0;
  border: 1px solid #ced4da;
  width: 100%;
}


/**********/

.modal-btn {
  color: #19ba9b;
  border: 1px solid #19ba9b;
  border-radius: 0;
  margin: 1rem 0 1.5rem;
  padding: .5rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
}

.modal-btn:hover {
  color: #fff;
  background-color: #19ba9b;
}

[disabled] {
  cursor: not-allowed;
}